<nz-list [nzDataSource]="list" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" nzBordered>
  <ng-template #item let-item>
    <nz-list-item>
      <button
        *ngIf="item.type === 'button'; else elseIf"
        nz-button
        [nzType]="'primary'"
        [nzSize]="'small'"
        (click)="goto(item.id)"
      >
        {{ item.label }}
      </button>
      <ng-template #elseIf>
        <a [routerLink]="['/detail/' + item.id, item.params ? item.params : {}]">{{ item.label }}</a>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
