<form nz-form class="container" autocomplete="off">
  <nz-form-item>
    <nz-form-label [nzSpan]="8">{{ 'childern-input' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input
        nz-input
        type="text"
        [(ngModel)]="childernInput"
        name="childernInput"
        (ngModelChange)="inputChange($event)"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">{{ 'parent-input' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <textarea rows="4" nz-input readonly [(ngModel)]="parentInput" name="parentInput"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>
